.submit-btn {
  width: fit-content;
  border: none;
  outline: none;
  background: #34aff9;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  transition: 0.3s all;
}
.submit-btn:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.btn-disabled {
  background-color: rgba(52, 175, 249, 0.3);
  cursor: not-allowed !important;
  width: fit-content;
  border: none;
  outline: none;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  transition: 0.3s all;
}
